<div class="card" xmlns:th="http://www.thymeleaf.org" th:fragment="paginate(path)">
	<ul class="pagination justify-content-center my-1">
		<li th:class="@{|page-item ${page.first ? 'disabled' : ''}|}">
			<a class="page-link" 
			th:href="@{|/admin/${path}/paginate/0|}">
			<i class='bx bxs-chevrons-up'>First</i>
			</a>
		</li>
	
		<li th:each="n: ${#numbers.sequence(0, page.totalPages-1)}" class="page-item">
			<a class="page-link" 
			th:href="@{|/admin/${path}/paginate/${n}|}">
			 	<span th:text="${n + 1}"></span>
			</a>
		</li>

		<li th:class="@{|page-item ${page.last ? 'disabled':''}|}">
			<a class="page-link" 
			th:href="@{|/admin/${path}/paginate/${page.totalPages - 1}|}">Last
			<i class='bx bxs-chevrons-down'></i>
			</a>
		</li>
	</ul>
</div>