<html xmlns:th="http://www.thymeleaf.org"
	th:replace="/user/shared/layout::dynamic(~{::main})">
<div class="product-view" th:fragment="main">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-8">
				<div class="row">
					<div class="col-md-12">
						<div th:replace="~{/user/product/_search}"></div>
					</div>

					<!-- LIST PRODUCT -->
					<div th:replace="~{/user/product/list}"></div>
					
				</div>

				<!-- Pagination Start -->
				<div th:replace="~{/user/product/_paginate}"></div>
				<!-- Pagination Start -->
			</div>

			<!-- Side Bar Start -->
			<div th:replace="~{/user/category/category}"></div>
			<!-- Side Bar End -->
		</div>
		<div th:replace="/user/product/_share-dialog"></div>
	</div>
</div>
</html>