<html xmlns:th="http://www.thymeleaf.org">
<th:block th:each="prod : ${page.content}">
<div class="col-md-4">
	<div class="product-item" th:attr="data-id=${prod.id}">
		<div class="product-title" style="height: 100px">
			<a th:href="@{|/user/product/detail/${prod.id}|}" th:text="${prod.name}">Product Name</a>
			<div class="ratting">
				<i class="fa fa-star"></i> <i class="fa fa-star"></i> <i
					class="fa fa-star"></i> <i class="fa fa-star"></i> <i
					class="fa fa-star"></i>
			</div>
		</div>
		<div class="product-image" style="height: 325px; object-fit: cover;">
			<a th:href="@{|/user/product/detail/${prod.id}|}"> 
				<img th:src="@{|/images/product/${prod.imageOne}|}" alt="Product Image">
			</a>
			<div class="product-action">
				<a href="#" class="bb-share">
					<i class="fa fa-share-alt"></i>
				</a> 
				<a href="#" class="bb-like"><i class="fa fa-heart"></i></a> 
				<a th:href="@{|/user/product/detail/${prod.id}|}"><i class="fa fa-search"></i></a>
			</div>
		</div>
		<div class="product-price" style="display: flex;justify-content: space-around;">
			<h3 style="display: flex;flex-direction: column;">
				<span>
					<del th:if="${prod.discount > 0}" th:text="@{|$${#numbers.formatDecimal(prod.unitPrice,0,2)}|}"></del>
				</span>
				<span style="font-size: 27px" th:text="@{|$${#numbers.formatDecimal(prod.promotePrice,0,2)}|}"></span>
			</h3>
			<a style="display: flex;align-items: center; margin-left: 5px;"class="btn bb-add-to-cart" href="javascript:void(0);"><i class="fa fa-shopping-cart"></i>Add to cart</a>
		</div>
	</div>
</div>
</th:block>

</html>