<html xmlns:th="http://www.thymeleaf.org"
	th:replace="~{/user/shared/layout::dynamic(~{::main})}">
<th:block th:fragment="main">

	<!-- Home -->
	<div class="home">
		<div class="home_background parallax-window" data-parallax="scroll"
			data-image-src="/images/shop_background.jpg"></div>
		<div class="home_overlay"></div>
		<div
			class="home_content d-flex flex-column align-items-center justify-content-center">
			<h2 class="home_title">Smartphones & Tablets</h2>
		</div>
	</div>

	<!-- Shop -->
	<div class="shop">
		<div class="container">
			<div class="row">
				<div class="col-lg-3">

					<!-- Shop Sidebar -->
					<div th:replace="~{/user/category/_cate}"></div>

				</div>

				<div class="col-lg-9">

					<!-- Shop Content -->
					<div class="shop_content">
						<div class="shop_bar clearfix">
							<div class="shop_product_count">
								<span>186</span> products found
							</div>
							<div class="shop_sorting">
								<span>Sort by:</span>
								<ul>
									<li><span class="sorting_text">highest rated <i
											class="fas fa-chevron-down"></span></i>
										<ul>
											<li class="shop_sorting_button"
												data-isotope-option='{ "sortBy": "original-order" }'>highest
												rated</li>
											<li class="shop_sorting_button"
												data-isotope-option='{ "sortBy": "name" }'>name</li>
											<li class="shop_sorting_button"
												data-isotope-option='{ "sortBy": "price" }'>price</li>
										</ul></li>
								</ul>
							</div>
						</div>

						<div class="product_grid">
							<div class="product_grid_border"></div>

							<!-- Product Item -->
							<div class="product_item is_new" th:each="prod : ${page.content}"
								th:attr="data-id=${prod.id}">
								<div class="product_border"></div>
								<div
									class="product_image d-flex flex-column align-items-center justify-content-center">
									<img th:src="@{|/images/product/${prod.imageOne}|}" alt="">
								</div>
								<div class="product_content" style="height: 140px">

									<div class="product_price" style="height: 36px">
										<span
											th:text="@{|$${#numbers.formatDecimal(prod.unitPrice,0,2)}|}"></span>
										<div style="display: inline;"
											th:text="@{|$${#numbers.formatDecimal(prod.promotePrice,0,2)}|}"></div>
									</div>
									<div class="product_name">
										<div>
											<a class="product_linkname"th:href="@{|/user/product/detail/${prod.id}|}"
												tabindex="0" th:text="${prod.name}">Philips BT6900A</a>
										</div>
									</div>
								</div>
								<div class="product_fav bb-like">
									<i class="fas fa-heart"></i>
								</div>
								<ul class="product_marks">
									<li class="product_mark product_discount"
										th:text="${prod.discount}">-25%</li>
									<li class="product_mark product_new">new</li>
								</ul>
							</div>
						</div>

						<!-- Shop Page Navigation -->

						<div th:replace="~{/user/product/_paginate}"></div>

					</div>

				</div>
			</div>
		</div>
	</div>
</th:block>
</html>