<html xmlns:th="http://www.thymeleaf.org"
th:replace="~{/user/shared/layout::dynamic(~{::account})}">
<div class="my-account" th:fragment="account">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3">
				<div class="nav flex-column nav-pills" role="tablist"
					aria-orientation="vertical">
					<a class="nav-link active" id="dashboard-nav" data-toggle="pill"
						href="#dashboard-tab" role="tab">
						<i class="fa fa-tachometer-alt"></i>Dashboard
					</a> 
					
					<a class="nav-link" id="orders-nav" data-toggle="pill" href="#orders-tab" role="tab">
						<i class="fa fa-shopping-bag"></i>Orders
					</a> 
					
					<a class="nav-link" id="payment-nav" data-toggle="pill" href="#payment-tab" role="tab">
						<i class="fa fa-credit-card"></i>Payment Method
					</a> 
					
					<!-- <a class="nav-link" id="address-nav" data-toggle="pill" href="#address-tab" role="tab">
						<i class="fa fa-map-marker-alt"></i>address
					</a>  -->
					
					<a class="nav-link" id="account-nav" data-toggle="pill" href="#account-tab" role="tab">
						<i class="fa fa-user"></i>Account Details
					</a> 
					
					<a class="nav-link"href="/spring/logout"><i class="fa fa-sign-out-alt"></i>Logout</a>
				</div>
			</div>
			<div class="col-md-9">
				<div class="tab-content">
					<div class="tab-pane fade show active" id="dashboard-tab"
						role="tabpanel" aria-labelledby="dashboard-nav">
						<h4>Dashboard</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In
							condimentum quam ac mi viverra dictum. In efficitur ipsum diam,
							at dignissim lorem tempor in. Vivamus tempor hendrerit finibus.
							Nulla tristique viverra nisl, sit amet bibendum ante suscipit
							non. Praesent in faucibus tellus, sed gravida lacus. Vivamus eu
							diam eros. Aliquam et sapien eget arcu rhoncus scelerisque.</p>
					</div>
					
					<!-- List Orders -->
					<div th:replace="~{/user/account/list-orders}"></div>
					
					<div class="tab-pane fade" id="payment-tab" role="tabpanel"
						aria-labelledby="payment-nav">
						<h4>Payment Method</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In
							condimentum quam ac mi viverra dictum. In efficitur ipsum diam,
							at dignissim lorem tempor in. Vivamus tempor hendrerit finibus.
							Nulla tristique viverra nisl, sit amet bibendum ante suscipit
							non. Praesent in faucibus tellus, sed gravida lacus. Vivamus eu
							diam eros. Aliquam et sapien eget arcu rhoncus scelerisque.</p>
					</div>
					<!-- <div class="tab-pane fade" id="address-tab" role="tabpanel"
						aria-labelledby="address-nav">
						<h4>Address</h4>
						<div class="row">
							<div class="col-md-6">
								<h5>Payment Address</h5>
								<p>123 Payment Street, Los Angeles, CA</p>
								<p>Mobile: 012-345-6789</p>
								<button class="btn">Edit Address</button>
							</div>
							<div class="col-md-6">
								<h5>Shipping Address</h5>
								<p>123 Shipping Street, Los Angeles, CA</p>
								<p>Mobile: 012-345-6789</p>
								<button class="btn">Edit Address</button>
							</div>
						</div>
					</div> -->
					<!-- Update User -->
					<div th:replace="~{/user/account/_detail}"></div> 
				</div>
			</div>
		</div>
	</div>
</div>
</html>