<html th:replace="~{/user/shared/layout::dynamic(~{::checkout})}"
	xmlns:th="http://www.thymeleaf.org">
<div class="checkout" th:fragment="checkout">
	<div class="container-fluid">
		<form th:object="${item}" action="/user/order/purchase" method="post">
			<div class="row">
				<div class="col-lg-8">
					<div class="checkout-inner">
						<div class="billing-address">
							<i th:text="${message}"></i>
							<h2>Billing Address</h2>
							<div class="row">
								<div class="col-md-6">
									<label>Username</label> 
									<input class="form-control" th:field="*{account.username}" type="text" readonly>
								</div>

								<div class="col-md-6">
									<label>Order Date</label> 
									<input class="form-control" th:field="*{orderDate}" readonly>
								</div>
								
							<input type="hidden" th:field="*{paymentId}">
							<input type="hidden" th:field="*{paymentAmount}">
								<div class="col-md-6">
									<label>Recipent</label> 
									<input class="form-control" th:field="*{recipient}" type="text" placeholder="Recipent">
								</div>
								<div class="col-md-6">
									<label>Mobile No</label> <input class="form-control" th:field="*{phone}"
										type="text" placeholder="Mobile No">
								</div>
								<input type="hidden" th:field="*{total}"> 
								<input type="hidden" value="2" name="status.id">
					
								<div class="col-md-12">
									<label>Address</label> <input class="form-control" type="text" name="address"
										placeholder="Address">
								</div>
								<div class="col-md-12">
									<label>Notes</label> 
									<textarea th:field="*{notes}" class="form-control" rows="4"></textarea>
								</div>

								<div class="col-md-12">
									<div class="custom-control custom-checkbox">
										<input type="checkbox" class="custom-control-input"
											id="shipto"> <label class="custom-control-label"
											for="shipto">Check cart again</label>
									</div>
								</div>
							</div>
						</div>

						<div class="shipping-address">
							<h2>Your Cart</h2>
							<div th:replace="~{/user/order/review-cart::scart}"></div>
						</div>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="checkout-inner">
						<div class="checkout-summary">
							<h1>Cart Total</h1>
							<p>
								Product Total<span th:text="${cart.count}"></span>
							</p>
							<p class="ship-cost">
								Shipping Cost<span>Free Ship</span>
							</p>
							<h2>
								Grand Total<span class="cart-amount" th:text="*{total}">$100</span>
							</h2>
						</div>

						<div class="checkout-payment">
							<div class="payment-methods">
								<h1>Payment Methods</h1>
								<div class="payment-method">
									<div class="custom-control custom-radio">
										<input type="radio" class="custom-control-input"
											id="payment-1" name="payment"> <label
											class="custom-control-label" for="payment-1">Paypal</label>
									</div>
									<div class="payment-content" id="payment-1-show">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing
											elit. Cras tincidunt orci ac eros volutpat maximus lacinia
											quis diam.</p>
									</div>
								</div>
								<div class="payment-method">
									<div class="custom-control custom-radio">
										<input type="radio" class="custom-control-input"
											id="payment-2" name="payment"> <label
											class="custom-control-label" for="payment-2">Momo</label>
									</div>
									<div class="payment-content" id="payment-2-show">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing
											elit. Cras tincidunt orci ac eros volutpat maximus lacinia
											quis diam.</p>
									</div>
								</div>
								<div class="payment-method">
									<div class="custom-control custom-radio">
										<input type="radio" class="custom-control-input"
											id="payment-3" name="payment"> <label
											class="custom-control-label" for="payment-3">Check
											Payment</label>
									</div>
									<div class="payment-content" id="payment-3-show">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing
											elit. Cras tincidunt orci ac eros volutpat maximus lacinia
											quis diam.</p>
									</div>
								</div>
								<div class="payment-method">
									<div class="custom-control custom-radio">
										<input type="radio" class="custom-control-input"
											id="payment-4" name="payment"> <label
											class="custom-control-label" for="payment-4">Direct
											Bank Transfer</label>
									</div>
									<div class="payment-content" id="payment-4-show">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing
											elit. Cras tincidunt orci ac eros volutpat maximus lacinia
											quis diam.</p>
									</div>
								</div>
								<div class="payment-method">
									<div class="custom-control custom-radio">
										<input type="radio" class="custom-control-input"
											id="payment-5" name="payment"> <label
											class="custom-control-label" for="payment-5">Cash on
											Delivery</label>
									</div>
									<div class="payment-content" id="payment-5-show">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing
											elit. Cras tincidunt orci ac eros volutpat maximus lacinia
											quis diam.</p>
									</div>
								</div>
							</div>
							<div class="checkout-btn">
								<button>Place Order</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
</html>