<div class="brand" style="margin-top: 50px;" xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid">
        <div class="brand-slider" style="height: 100px">
            <div class="brand-item">
                <img src="/img/brand-1.png" alt="">
            </div>
            <div class="brand-item">
                <img src="/img/brand-2.png" alt="">
            </div>
            <div class="brand-item">
                <img src="/img/brand-3.png" alt="">
            </div>
            <div class="brand-item">
                <img src="/img/brand-4.png" alt="">
            </div>
            <div class="brand-item">
                <img src="/img/brand-5.png" alt="">
            </div>
            <div class="brand-item">
                <img src="/img/brand-6.png" alt="">
            </div>
        </div>
    </div>
</div>