<html xmlns:th="http://www.thymeleaf.org">
<script>
$("a[href*=lang]").on("click",function(){
	let url =$this.attr("href");
	$.get(url).then(resp => location.reload());
	return false;
});
</script>
<!-- Top bar Start -->
<div class="top-bar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <i class="fa fa-envelope"></i> truongthanhbinh572000@gmail.com
      </div>
      <div class="col-sm-4"><i class="fa fa-phone-alt"></i> +84 9018 50057</div>
      <div class="col-sm-2"> <a href="?lang=en">English</a> ||
       							<a href="?lang=vi">Tiếng Việt</a></div>
    </div>
  </div>
</div>
<!-- Top bar End -->

<!-- Nav Bar Start -->
<div class="nav">
  <div class="container-fluid">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
      <a href="#" class="navbar-brand">MENU</a>
      <button
        type="button"
        class="navbar-toggler"
        data-toggle="collapse"
        data-target="#navbarCollapse"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse justify-content-between"
        id="navbarCollapse">
        <div class="navbar-nav mr-auto">
          <a href="#" class="nav-item nav-link" th:text="#{menu.home}">Home</a>
          <a href="/user/product/index" class="nav-item nav-link active"
            th:text="#{menu.products}"> Products</a
          >
          <a href="product-detail.html" class="nav-item nav-link"
            >Product Detail</a
          >
          <a href="cart.html" class="nav-item nav-link">Cart</a>
          <a href="checkout.html" class="nav-item nav-link">Checkout</a>
          <a href="my-account.html" class="nav-item nav-link">My Account</a>
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
              >More Pages</a
            >
            <div class="dropdown-menu">
              <a href="wishlist.html" class="dropdown-item">Wishlist</a>
              <a href="login.html" class="dropdown-item">Login And Register</a>
              <a href="contact.html" class="dropdown-item">Contact Us</a>
            </div>
          </div>
        </div>
        <div class="navbar-nav ml-auto">
          <div class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
              th:text="@{|${#request.remoteUser == null ? 'User Account' : 'Have a nice day! '+ #request.remoteUser}|}">HEllo</a
            >
            <div class="dropdown-menu" th:if="${#request.remoteUser == null}">
              <a href="/security/login/form" class="dropdown-item">Login</a>
              <a href="/user/account/register" class="dropdown-item">Register</a>
              <a href="/user/account/forgot-password" class="dropdown-item">Forgot Password</a>
            </div>
            <div class="dropdown-menu" th:unless="${#request.remoteUser == null}">
               <a href="/user/account/index" class="dropdown-item">Profile User</a>
               <a href="/user/order/items-purchased" class="dropdown-item">Items Purchased</a>
                <a href="/spring/logout" class="dropdown-item">Sign Out</a>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
<!-- Nav Bar End -->

<!-- Bottom Bar Start -->
<div class="bottom-bar">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-md-3">
        <div class="logo">
          <a href="index.html"> <img src="/img/logo.png" alt="Logo" /> </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="search">
        	<form action="/product/search">
          <input type="text" name="keywords" placeholder="Search" />
          <button>
            <i class="fa fa-search"></i>
          </button>
          </form>
        </div>
      </div>
      <div class="col-md-3">
        <div class="user">
        	<!-- Wishlist -->
          <a href="wishlist.html" class="btn wishlist">
            <i class="fa fa-heart"></i> <span>(0)</span>
          </a>
          
          	<!-- Cart -->
          <a href="/cart/view" class="btn cart">
            <i class="fa fa-shopping-cart"></i> <span class="cart-count">(0)</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Bottom Bar End -->
</html>