<html xmlns:th="http://www.thymeleaf.org">
<div class="shop_sidebar">
	<div class="sidebar_section">
		<div class="sidebar_title">Categories</div>
		<ul class="sidebar_categories"> 
		<th:block th:each="cate: ${categories}">
			<li><a th:href="@{|/user/product/category/${cate.id}|}"
				th:text="${cate.name}"></a></li>
		</th:block>
		</ul>
	</div>
	<div class="sidebar_section filter_by_section">
		<div class="sidebar_title">Filter By</div>
		<div class="sidebar_subtitle">Price</div>
		<div class="filter_price">
			<div id="slider-range" class="slider_range"></div>
			<p>Range:</p>
			<p>
				<input type="text" id="amount" class="amount" readonly
					style="border: 0; font-weight: bold;">
			</p>
		</div>
	</div>
	<div class="sidebar_section">
		<div class="sidebar_subtitle color_subtitle">Color</div>
		<ul class="colors_list">
			<li class="color"><a href="#" style="background: #b19c83;"></a></li>
			<li class="color"><a href="#" style="background: #000000;"></a></li>
			<li class="color"><a href="#" style="background: #999999;"></a></li>
			<li class="color"><a href="#" style="background: #0e8ce4;"></a></li>
			<li class="color"><a href="#" style="background: #df3b3b;"></a></li>
			<li class="color"><a href="#"
				style="background: #ffffff; border: solid 1px #e1e1e1;"></a></li>
		</ul>
	</div>
	<div th:replace="~{/user/category/_brand}"></div>
</div>
</html>